
Flask @ file:///home/ktietz/src/ci/flask_1611932660458/work
Flask-Cors @ file:///tmp/build/80754af9/flask_cors_1614875208036/work
matplotlib @ file:///C:/ci/matplotlib-suite_1613408055530/work
numpy @ file:///C:/ci/numpy_and_numpy_base_1603480701039/work
pandas @ file:///C:/ci/pandas_1608056614942/work
pandas-profiling==1.4.1
requests @ file:///tmp/build/80754af9/requests_1629994808627/work
scikit-learn @ file:///C:/ci/scikit-learn_1622739439730/work
statsmodels==0.12.2
